In [3]:
import pandas as pd
import numpy as np
from pathlib import Path
import plotly.express as px

In [20]:
from sklearn.model_selection import train_test_split
import lightgbm as lgb

# 環境設定

In [2]:
DATA_PATH = "./data"

# 関数定義

In [6]:
def count_feature_xs(df, feature_x: str):
    return len([col for col in df.columns if feature_x in col])

In [17]:
def cosine_similarity(y_true, y_pred):
    score = np.dot(y_true, y_pred) / (np.linalg.norm(y_ture) * np.linalg.norm(y_pred))
    return "cosine_similarity", score, True

# 分析

## データ読み込み

In [4]:
train_data = pd.read_csv(Path(DATA_PATH, "train.csv"))

## EDA

In [5]:
train_data.head()

,id,feature_a_000,feature_a_001,feature_a_002,feature_a_003,feature_a_004,feature_a_005,feature_a_006,feature_a_007,feature_a_008,...,feature_d_131,feature_d_132,feature_d_133,feature_d_134,feature_f_000,feature_f_001,feature_f_002,feature_f_003,feature_f_004,target
0,0,4,5,4,5,5,1,3,1,4,...,4,2,3,2,4,2,4,1,4,0.000415
1,1,5,4,5,4,5,3,2,3,3,...,3,1,2,1,5,1,3,1,3,0.000415
2,2,1,1,5,1,2,1,1,3,1,...,4,4,3,2,1,2,3,1,3,3.039352
3,3,5,3,4,5,4,5,5,2,3,...,2,1,3,2,3,4,2,4,2,-0.512833
4,4,1,4,1,4,2,1,1,1,2,...,2,3,2,4,2,5,1,5,1,0.000415

In [16]:
print(f"学習データのshape：{train_data.shape}")
print(f"ユニークID数：{train_data['id'].nunique()}")
feature_xs = ["feature_a", "feature_b", "feature_c", "feature_d", "feature_e", "feature_f"]
for feature_x in feature_xs:
    print(f'{feature_x}の個数：{count_feature_xs(train_data, feature_x)}')

学習データのshape：(660000, 697)
ユニークID数：660000
feature_aの個数：285
feature_bの個数：135
feature_cの個数：135
feature_dの個数：135
feature_eの個数：0
feature_fの個数：5

## モデル作成

In [24]:
# データ分割
feature_cols = train_data.drop(columns=["id", "target"]).columns
target_col = "target"
X_train, X_valid, y_train, y_valid = train_test_split(train_data[feature_cols], train_data[target_col], test_size=0.3)
print(f'X_trainのshape:{X_train.shape}')
print(f'y_trainのshape:{y_train.shape}')
print(f'X_validのshape:{X_valid.shape}')
print(f'y_validのshape:{y_valid.shape}')

X_trainのshape:(462000, 695)
y_trainのshape:(462000,)
X_validのshape:(198000, 695)
y_validのshape:(198000,)

In [ ]:
# サンプリング（時間短縮のため）

In [18]:
# パラメータの準備
params = {
    'boosting_type':'gbdt',
    'objective':'regression',
    'metric':'None',
    'num_leaves':16,
    'learning_rate':0.1,
    'n_estimators':100000,
    'random_state':0
}

In [21]:
# インスタンスの作成
clf = lgb.LGBMClassifier(**params)

In [ ]:
# モデルの学習
clf.fit(
    X_train, 
    y_train,
    eval_set = [(X_train, y_train),(X_validation, y_validation)],
    eval_metric: cosine_similarity,
    early_stopping_rounds=100
)